# 数据库配置
POSTGRES_DB=fundval
POSTGRES_USER=fundval
POSTGRES_PASSWORD=change_me_in_production
POSTGRES_PORT=5432  # 宿主机端口映射（需在 docker-compose.yml 取消注释 db.ports）
POSTGRES_IMAGE=docker.1ms.run/library/postgres:16-alpine

# Django 配置
SECRET_KEY=change_me_in_production_use_random_string
DEBUG=false
ALLOWED_HOSTS=localhost,127.0.0.1

# Redis 配置
REDIS_IMAGE=docker.1ms.run/library/redis:7-alpine
REDIS_URL=redis://redis:6379/0

# 应用配置
ALLOW_REGISTER=false

# 前端配置
FRONTEND_PORT=21345

# 后端配置
BACKEND_PORT=8000
BACKEND_IMAGE=docker.1ms.run/jasamine/fundval-backend:latest
GUNICORN_WORKERS=4

# Celery 配置
CELERY_LOGLEVEL=info
